@font-face {
    font-family: "Titillium Web";
    font-style: normal;
    font-weight: 400;
    src: url("TitilliumWeb-Regular.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Titillium Web";
    font-style: italic;
    font-weight: 400;
    src: url("TitilliumWeb-Italic.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Titillium Web";
    font-style: normal;
    font-weight: 700;
    src: url("TitilliumWeb-Bold.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Titillium Web";
    font-style: italic;
    font-weight: 700;
    src: url("TitilliumWeb-BoldItalic.woff2") format("woff2");
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Titillium Web;
}

:root {
  --text-color: #d7d7d7;
  --background-element: #878787b3;
  --blur-effect: 3px;
}

body {
  color: var(--text-color);
  background: #878787 url("supersaturn-m.jpg") no-repeat center;
  background-size: cover;
}

.title {
  margin: 20px;
  display: flex;
}

h1 {
  margin: 0 auto;
  display: inline-block;
  padding: 20px;
  background-color: var(--background-element);
  backdrop-filter: blur(var(--blur-effect));
}

a {
  text-decoration: none;
  color: var(--text-color);
}

footer div > p {
  text-align: center;
}

footer div, article p {
  margin: 20px;
  padding: 20px;
  background-color: var(--background-element);
  backdrop-filter: blur(3px);
  border-radius: 8px;
}

footer li {
  margin-left: 35px;
}

@media screen and (min-width: 786px) {
  body {
    background: #878787 url("supersaturn-d.jpg") no-repeat center;
    background-size: cover;
  }

  footer div > p {
    text-align: initial;
  }

  footer div > p:last-child{
    text-align: center;
  }
}